<h2>Agrega un producto nuevo a la base de datos desde aqui!!!</h2>

<form action="/products/new" method="post">
    <input placeholder="Escribe el nombre del producto" name="name" type="text">
    <br>
    <input placeholder="escribe el precio" name="price" type="number">
    <br>
    <input placeholder="describe el producto" name="description" type="text">
    <br>
    <input type="submit">
</form>